#slideshow {  
	position:relative;
	width: 705px;
	height: 300px;
	padding-bottom: 10px;
}

#slideshow A {
	position:absolute;
	top:0;
	left:0;
	z-index:8;
	opacity:0.0;
	text-decoration: none;
}

#slideshow A.active {
	z-index:10;
	opacity:1.0;
}

#slideshow A.last-active {
	z-index:9;
}


/*start index*/
#featured {
	width: 705px;
	height: 100px;
}

#featured01 {
	width: 235px;
	height: 100px;
	float: left;
	background-color:#9F0;
}

#featured02 {
	width: 235px;
	height: 100px;
	background-color: #C69;
	float: left;
}

#featured03 {
	width: 235px;
	height: 100px;
	background-color:#9F0;
	float: right;
}
#work_row {
	width: 560px;
}
#work_column {
	width: 186px;
	height: 100px;
	float: left;
	background-color:#F06;
}

